<launch>
	
	<arg name="dimension" default="3"/>
	<arg name="nonlinear_opt" default="true"/>
	<arg name="max_v" default="2.0"/>
    <arg name="max_a" default="2.0"/>
	<arg name="max_ang_v" default="1.0"/>
    <arg name="max_ang_a" default="1.0"/>
	<arg name="init_z" value="1.5" />

	<node pkg="traj_gen" name="traj_gen_node" type="traj_gen_node" output="screen">
		<!-- <remap from="path_segments_4D" to="trajectory"/> -->
		<remap from="reference/pose" to="/mavros/local_position/pose"/>
		<param name="dimension" value="$(arg dimension)"/>
		<param name="nonlinear_opt" value="$(arg nonlinear_opt)"/>
		<param name="max_v" value="$(arg max_v)"/>
		<param name="max_a" value="$(arg max_a)"/>
		<param name="max_ang_v" value="$(arg max_ang_v)"/>
		<param name="max_ang_a" value="$(arg max_ang_a)"/>
		<param name="init_z" value="$(arg init_z)"/>
	</node>

</launch>